(
version: V1,
meta: (
name: Some("himeko_ep00"),
next_script: None,
),
instructions: [
(
cmd: label,
args: (
name: "block_00000",
),
),
(
cmd: label,
args: (
name: "top",
),
),
(
cmd: label,
args: (
name: "z00",
),
),
(
cmd: label,
args: (
name: "z01",
),
),
(
cmd: save_point,
args: (
id: "水仙 姬子终章-ep 0",
),
),
(
cmd: save_point,
args: (
id: "autosave",
),
),
(
cmd: set_flag,
args: (
key: "chap01",
value: 1,
),
),
(
cmd: custom,
args: (
tag: "msg",
data: {
"mode": "novel",
"no": "99",
},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 1.5,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: set_bg,
args: (
image: "b4",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: play_se,
args: (
file: "car_thru_rl",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "sin_e04z",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: play_bgm,
args: (
id: "66",
volume: Some(0.78431374),
fade_ms: Some(500),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「－在清晨的天空下，我们从富士山下来，踏上了归途－」",
voice: Some("li/c77setu_0002"),
),
),
(
cmd: label,
args: (
name: "block_00001",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「－途中，手里拿着便利店买的便当，姬子突然小声说道－」",
voice: Some("li/c77setu_0003"),
),
),
(
cmd: label,
args: (
name: "block_00002",
),
),
(
cmd: play_se,
args: (
file: "kaze4",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "sin_e05z",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「濑津美， 总之让我也定个规矩吧」",
voice: Some("li/c77hime_0001"),
),
),
(
cmd: label,
args: (
name: "block_00003",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……规矩？」",
voice: Some("li/c77setu_0004"),
),
),
(
cmd: label,
args: (
name: "block_00004",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，交朋友其实也是可以的」",
voice: Some("li/c77hime_0002"),
),
),
(
cmd: label,
args: (
name: "block_00005",
),
),
(
cmd: play_se,
args: (
file: "kane02d",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "sin_e06bz",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "sin_e06z",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "钟声回响着。\n姬子把车停在了教会前，姬子让我下了车。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00006",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「那，就在这里道别吧」",
voice: Some("li/hime1_0559"),
),
),
(
cmd: label,
args: (
name: "block_00007",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "然后…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00008",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…再见了……可乐饼博士…」",
voice: Some("li/hime1_0580zz"),
),
),
(
cmd: label,
args: (
name: "block_00009",
),
),
(
cmd: set_bg,
args: (
image: "w3",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: play_se,
args: (
file: "z42r",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "sin_e07z",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「－说完这些，\n背对着我向教会走去－」",
voice: Some("li/c77setu_0006"),
),
),
(
cmd: label,
args: (
name: "block_00010",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「恐怕，她们都在里面吧，\n是要去见千寻和优花吧」",
voice: Some("li/c77setu_0007"),
),
),
(
cmd: label,
args: (
name: "block_00011",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……肯定，曾经那个温柔的“曾经”也…」",
voice: Some("li/c77setu_0008"),
),
),
(
cmd: label,
args: (
name: "block_00012",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…不再存在了吧…」",
voice: Some("li/c77setu_0008b"),
),
),
(
cmd: label,
args: (
name: "block_00013",
),
),
(
cmd: set_bg,
args: (
image: "b3",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: wait,
args: (
time_ms: 1000,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: stop_bgm,
args: (
fade_ms: Some(1000),
),
),
(
cmd: return,
),
],
)
