(
version: V1,
meta: (
name: Some("nar2_01"),
next_script: None,
),
instructions: [
(
cmd: label,
args: (
name: "block_00000",
),
),
(
cmd: label,
args: (
name: "top",
),
),
(
cmd: label,
args: (
name: "z00",
),
),
(
cmd: label,
args: (
name: "z01",
),
),
(
cmd: save_point,
args: (
id: "水仙2-1",
),
),
(
cmd: save_point,
args: (
id: "autosave",
),
),
(
cmd: set_flag,
args: (
key: "chap01",
value: 1,
),
),
(
cmd: custom,
args: (
tag: "msg",
data: {
"mode": "novel",
"no": "99",
},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 1.5,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: set_bg,
args: (
image: "black-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "h000",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: play_bgm,
args: (
id: "71",
volume: Some(0.78431374),
fade_ms: Some(500),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "１楼的门诊接待处的地板上。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00001",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "贴着不同颜色的胶带。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00002",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "这是指示着红色,蓝色,绿色,\n所代表的是各科室所在的地方。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00003",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "我沿着其中白色胶带的指示前进。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00004",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "black-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "走大概30米，就能在右手边看到一个商店，\n商店的对面是吸烟室。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00005",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "而左手边的，是外科候诊室。\n再去走廊的尽头，便有一部小电梯。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00006",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "我搭上电梯…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00007",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "直接按下了最顶楼的按钮。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00008",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "at02a",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "at02b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: play_se,
args: (
file: "ele2",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "叮，",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00009",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "at02c",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "white-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: play_se,
args: (
file: "autodoor",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "byoin7_rouka",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "７楼。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00010",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "出现在眼前的是护士站。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00011",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "护士们一同往这边看来。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00012",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "但是，确认是我后便转回了视线。\n好像什么都没看见一样，继续她们的工作。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00013",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…高高的天花板，仅能拉开15厘米的窗户。\n纯白、明亮又冰冷的地方。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00014",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "我直接走向在尽头左手边的谈话室。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00015",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "danwa",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "那里摆着一台大电视和沙发。\n还有几朵花装饰在窗边。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00016",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "花瓶种植的迷你向日葵，感觉，\n像是在夏天一样盆栽种植着的非洲菊，也正鲜艳地开着。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00017",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…这些都是曾经看过的东西。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00018",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「再次来到这里…已经隔了多少年呢…」",
voice: Some("li/setsumi_0001"),
),
),
(
cmd: label,
args: (
name: "block_00019",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "和那时不同的，也只是我的穿着。\n从水手服变成睡衣，",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00020",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "以及腕上的手环，从蓝色变成白色而已。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00021",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "black-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「你…」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00022",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "听到声音后我回头一看，是位不认识的老婆婆。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00023",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "身上的睡衣和白色手环，代表着她也是这里的病人。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00024",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「是来探病的？还是其他楼层的病人？」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00025",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…不是」",
voice: Some("li/setsumi_0002"),
),
),
(
cmd: label,
args: (
name: "block_00026",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "我一边摇头，一边给她看我的手环。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00027",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「啊…是这样啊…」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00028",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "老婆婆像是触碰了不该触碰的话题一般地回应着。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00029",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "可以感觉到，这样的话语中，\n隐含着“明明还这么年轻真是可怜”的感叹。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00030",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "当然，这种经历已经多到厌倦了。\n毕竟，10年的病程都是这么过来的。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00031",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…只是没想到，即使是和我一样的7楼居民，也会用同情的目光看着我。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00032",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "danwa",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「说起来…你",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00033",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…是第几次？」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00034",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…是指什么？」",
voice: Some("li/setsumi_0003"),
),
),
(
cmd: label,
args: (
name: "block_00035",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「来这里…７楼」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00036",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "一时间，我完全无法理解她想问什么。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00037",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "不过，在我反问她之前，",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00038",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「看来是第一次呢」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00039",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "老婆婆似乎自说自话地找到了答案。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00040",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「那么，也告诉你吧，要好好听哦」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00041",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…首先，７楼这个地方…」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00042",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "即使没有收到我的回应，老婆婆还是自顾自地继续说了下去。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00043",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…没有第4次。第3次进出院就是最后了，做好心理准备吧。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00044",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "想逃跑的话不要走Ａ车站，走Ｂ车站。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00045",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "什么都不要吃…对家人来说负担最少。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00046",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "她这么跟我说了。\n除此之外也都是些让人绝望的内容。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00047",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "恐怕，这是只有７楼的居民们…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00048",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "只有正靠近死亡的人们，才会“传承”下来的东西吧。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00049",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「怎么样？记住了吗？」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00050",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "danwa",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「…嗯」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00051",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "老婆婆大致说明完了后。\n感觉气色变得比刚刚好点了。",
voice: Some("li/setsumi_0005"),
),
),
(
cmd: label,
args: (
name: "block_00052",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯……对你这般年轻的孩子，实在让人难以启齿…」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00053",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「但毕竟也是规则，再难也要告诉你」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00054",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "说着这些，老婆婆走出谈话室。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00055",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "离开的时候，「再有新人来的时候，就由你来告诉他这些事吧。」 \n老婆婆又带上这么一句。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00056",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "white",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: play_se,
args: (
file: "z42r",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "sora02",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "炽热的阳光和蝉鸣声。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00057",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "从只能从打开１５ｃｍ的窗户中看到的夏空。\n看来今天也会很热呢。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00058",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…不知已经隔了多少年。\n不过这也是我第一次以“居民”的身份来到这里。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00059",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…而且，传达给我的规则。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00060",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "本来，是只有这里的居民才会被告知的吧…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00061",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「不过…这当中有几条，我早就知道了…」",
voice: Some("li/setsumi_0006"),
),
),
(
cmd: label,
args: (
name: "block_00062",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "at01a",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "at01",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "…也许从那天开始…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00063",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "at01c",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "就知道会有这一天…",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00064",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "at01d",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "at01f",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: play_se,
args: (
file: "extra/setsumi_0009",
channel: Some(1),
volume: Some(0.78431374),
),
),
(
cmd: set_bg,
args: (
image: "at01e",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "black-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "t001c",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "t001b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "t001a",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "white-2",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: stop_bgm,
args: (
fade_ms: Some(3000),
),
),
(
cmd: stop_se,
args: (
channel: Some(5),
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: wait,
args: (
time_ms: 1000,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: stop_bgm,
args: (
fade_ms: Some(1000),
),
),
(
cmd: return,
),
],
)
