(
version: V1,
meta: (
name: Some("omake"),
next_script: None,
),
instructions: [
(
cmd: label,
args: (
name: "block_00000",
),
),
(
cmd: label,
args: (
name: "top",
),
),
(
cmd: label,
args: (
name: "z00",
),
),
(
cmd: label,
args: (
name: "z01",
),
),
(
cmd: save_point,
args: (
id: "水仙 菫的故事-人物介绍",
),
),
(
cmd: save_point,
args: (
id: "autosave",
),
),
(
cmd: set_flag,
args: (
key: "chap01",
value: 1,
),
),
(
cmd: custom,
args: (
tag: "msg",
data: {
"mode": "novel",
"no": "99",
},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 1.5,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_00",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "角色介绍",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00001",
),
),
(
cmd: play_bgm,
args: (
id: "48",
volume: Some(0.78431374),
fade_ms: Some(500),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "在这里为Narcissu系列中登场的，主要的角色做了个简单的概括介绍。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00002",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "另外，Narcissu系列每作的插画负责人（主画师）都不同，\n但设定插画主要由2人负责，多为ごとＰ。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00003",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "相比起初期，濑津美老师显得更幼齿，\n更漂亮，这个时期的濑津美因此有很多不同的地方。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00004",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……仔细想一下，同样的角色画了10年的话，这也是理所当然的事吧。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00005",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_01",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・濑津美：CV 綾川りの",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00006",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "Narcissu系列女主角一样的角色。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00007",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "性格为无口，不怎么表现出感情。\n口头禅是“无所谓（別に）……”",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00008",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "但在系列后期确实是，变得很能说了。\n在四格漫画中登场时，被称为濑津美老师。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00009",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "喜欢的食物是炸薯条。喜欢的人是母亲。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00010",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_02",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・姬子：CV やなせなつみ",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00011",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "N2的女主角，给了濑津美很大的影响。\n可以说是全系列关键人物般的存在。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00012",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "虔诚的天主教徒。医院的护工。\n性格开朗，十分的聪明。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00013",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "持有国内A级执照的汽车迷。\n爱车是Eunos Roadster，马自达信徒。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00014",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_03",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・优花：CV 岩居由希子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00015",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "姬子的挚友。小小只的可爱女性。\n东京都内工作的OL。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00016",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "曾经性格腼腆，在与姬子共同度过最后的时间之后，\n有了一点点改变。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00017",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "爱车是从姬子那里继承的Roadster（马自达 MX-5）。\n某种意义上，是于全系列都有登场的说书人一样的存在。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00018",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_04",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・千寻：CV 後藤邑子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00019",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "姬子的妹妹。有经验的天主教徒。\n大学毕业后作为护工活动着。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00020",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "恬静的，为姐姐着想的温柔性格。\n对待任何人都真诚相待。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00021",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "唯一被托付了这些规则的7F居民以外的人。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00022",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_05",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・莳绘：CV 原口馨",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00023",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "创造出作为故事舞台的医院7F的人。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00024",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "年轻时是在家族经营的老人院工作的青年，\n但因为与阳子的相遇变得以成为医生为目标。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00025",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "当年的爱车是Savanna RX-7。\n他也是马自达信徒。现在担任医院的执行董事。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00026",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "也是从濑津美处接受书本捐赠的人物。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00027",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_06",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・蒔絵女儿：CV 森村なみ",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00028",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "莳绘的女儿。24岁。\n担任医院的综合接待。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00029",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "性格有点不太可靠但很有行动力。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00030",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "在小说版的Narcissu中，\n二人从医院消失时，曾与优花一起追在二人身后。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00031",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "与濑津美的母亲关系很好，工作结束之后经常碰面。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00032",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_07",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・阿东：CV 中村圭佑",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00033",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "N1的主人公。\n与濑津美一起，向着淡路岛进发。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00034",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "性格是十分普通的20岁青年。\n大学生。取得驾照后，马上入院并在半年之后转到了7F。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00035",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "爱车是父亲的Integra Type-R 双座轿跑。\n在故事后半，有着喜欢上了濑津美的描写。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00036",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_08",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・阳子：CV 友永朱音",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00037",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "N0的女主角，7F最初的入院患者。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00038",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "学生时代，曾与莳绘一同活动。\n同样有着在老人院工作的经验，想要成为医生。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00039",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "由她手中诞生了7F的规则。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00040",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_09",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・濑津美母亲：CV 田中涼子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00041",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "濑津美的母亲。\n在任职的便当店负责油炸食品的工作。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00042",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "很担心女儿，同时又很善解人意的温柔母亲。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00043",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "在濑津美去世之后，\n也时常与莳绘女儿一起去吃晚饭。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00044",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_10",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・女孩子：CV 能登麻美子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00045",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "姬子曾经负责的7F住院患者。8岁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00046",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "双亲也已去世，完全无依无靠的孩子。\n跟其他孩子一样纯真无邪。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00047",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "因此姬子才会被什么也做不到的无力感所囚禁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00048",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_11",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・紫阳花（堇）：CV もな",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00049",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "新Narcissu的女主角。22岁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00050",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "12岁开始家里蹲，14岁成为病人，22岁来到7F。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00051",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "这中间，除了打游戏之外什么事都没做过。\n外表娇小可爱，性格有些内向。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00052",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "与岁数相差很大的双亲，\n以及同样岁数相差很大的哥哥组成了4人家庭。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00053",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_12",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・明里：CV やなせなつみ",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00054",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "并非现实，而是选择了闭上眼的世界的女主角。22岁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00055",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "8岁开始为装病而持续装睡，现在也在住院中。\n因为父亲是有名的资产家，所以无人因此责备她。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00056",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "16岁时，偶然间与优花和堇相遇了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00057",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_13",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・堇母亲：CV 田口宏子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00058",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "堇的母亲。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00059",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "本来是很开朗乐天的性格，\n在女儿生病之后变得有些消极。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00060",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "虽然觉得很寂寞，但无法说出口。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00061",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_14",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・健酱",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00062",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "曾经，明里唯一的朋友。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00063",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "虽然是开朗，无忧无虑的笨蛋小孩性格，但也有着自然不做作的温柔。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00064",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "◎番外角色",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00065",
),
),
(
cmd: set_bg,
args: (
image: "om_15",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・堇",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00066",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "明里偶然间，在巴士站遇到的女孩子。\n非常内向，孤孤单单的。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00067",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "接受了明里的忠告，稍微变得开朗了一些。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00068",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_16",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・伊莉丝：CV 平井理子",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00069",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "以中世纪为舞台的Narcissu3的女主角。\n通称公主殿下。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00070",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "有着十分残酷的过去，虽然以自我为中心，\n但本来是很老实的普通女孩子。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00071",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "因为与约翰的相遇，开始谨慎的考虑起了平稳的生活。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00072",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_17",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・希未老师",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00073",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "四格漫画中登场的濑津美老师的拍档。\n猫猫社的《SA·NA·RA·RA》中的女主角。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00074",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "看起来在这个世界里，二人似乎生活在一起。\n Stage-nana的书，貌似都是由二人亲手所做的。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00075",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: set_bg,
args: (
image: "om_172",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "■Narcissu时间序列",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00076",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "并非按照发售顺序，而是按照游戏内的时间轴排序，概括性的简单一览。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00077",
),
),
(
cmd: set_bg,
args: (
image: "om_18",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・Narcissu 0 —ZERO",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00078",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "30多年前，作为舞台的医院7F诞生。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00079",
),
),
(
cmd: set_bg,
args: (
image: "om_19",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・Narcissu 2nd",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00080",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "大约7年前。濑津美15岁。 与作为7F住院患者姬子的交流。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00081",
),
),
(
cmd: set_bg,
args: (
image: "om_20",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・姬子 终章",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00082",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "在那之后3个月。姬子与优花的交流。\n秋天~冬天。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00083",
),
),
(
cmd: set_bg,
args: (
image: "om_21",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・Narcissu 堇",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00084",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "又之后的半年。\n夏天~冬天。明里、堇、优花的相遇。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00085",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "本篇：5年之后。\n夏天~冬天。明里、堇21岁~22岁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00086",
),
),
(
cmd: set_bg,
args: (
image: "om_22",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "・Narcissu1大约1年后。\n濑津美22岁。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00087",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "※另外，在游戏设定上，虽然明里、堇比起濑津美，要大一岁的感觉？",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00088",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "但进入7F时都是21~22岁。姬子也是22岁，阿东也是差不多的年纪。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00089",
),
),
(
cmd: set_bg,
args: (
image: "om_23",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "■顺便一提 淡路岛的水仙",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00090",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "最有名的地方，分为立川水仙乡与滩黑岩水仙乡两处。\n无论哪边都盛开着大量的水仙花。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00091",
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "能确实地让人感到不愧为国立公园的一部分，如果想要去拜访的话，提前确认开花时间大概会比较稳妥吧？",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00092",
),
),
(
cmd: set_bg,
args: (
image: "2b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: wait,
args: (
time_ms: 1000,
),
),
(
cmd: stop_bgm,
args: (
fade_ms: Some(1000),
),
),
(
cmd: return,
),
],
)
