(
version: V1,
meta: (
name: Some("4atogaki"),
next_script: None,
),
instructions: [
(
cmd: label,
args: (
name: "block_00000",
),
),
(
cmd: label,
args: (
name: "top",
),
),
(
cmd: label,
args: (
name: "z00",
),
),
(
cmd: label,
args: (
name: "z01",
),
),
(
cmd: save_point,
args: (
id: "水仙 零 后记",
),
),
(
cmd: save_point,
args: (
id: "autosave",
),
),
(
cmd: set_flag,
args: (
key: "chap01",
value: 1,
),
),
(
cmd: custom,
args: (
tag: "msg",
data: {
"no": "99",
"mode": "novel",
},
),
),
(
cmd: hide_cg,
args: (
transition: None,
),
),
(
cmd: hide_fg,
args: (
char_id: "all",
transition: None,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 1.5,
)),
),
),
(
cmd: wait,
args: (
time_ms: 1500,
),
),
(
cmd: set_bg,
args: (
image: "b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "■\u{3000}后 记",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00001",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: play_bgm,
args: (
id: "122",
volume: Some(0.78431374),
fade_ms: Some(500),
),
),
(
cmd: set_bg,
args: (
image: "tes_umi",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「大家好，我是片冈智！」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00002",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「这次，大家能观看支持narcissuＺＥＲＯ，\u{3000}非常感谢！」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00003",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「原本是之前ＰＳＰ版的时候写的故事，所以有时我也叫它narcissu４……」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00004",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「重要的是，我认为它起到了对narcissu总结的作用」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00005",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "narep_08",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: set_bg,
args: (
image: "tes_umi",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「顺便一提，作为narcissu的舞台的７楼……\n也就是临终关怀院，在日本是１９７０年代开始的」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00006",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「这就像现在一样，在这项制度确立之前，经过了许多人的付出和努力」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00007",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「说起来，narcissu的舞台有原型吗？经常会被问起这个问题……」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00008",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「这是以大阪的淀川基督教医院为原型的。已经服务了很长时间了」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00009",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「关于这个故事也是，大约一半是非虚构的，\n事实上，登场人物也是有原型的……」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00010",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_16",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「还有，在narcissu小说版里，会有莳绘的女儿，\n追赶奔向淡路岛的濑津美他们的场景」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00011",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_17",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「以后，濑津美的母亲，也和莳绘家的女儿关系很好」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00012",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_15",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「而且，在濑津美去世之后，\u{3000}会有莳绘先生去拜访她母亲的一个场景……」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00013",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「就把这个场景放在这里吧」",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00014",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "black",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: set_bg,
args: (
image: "243",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "―那是，那孩子去世之后第二年的事。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00015",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "突然，家门前有人打招呼。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00016",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「是佐仓……濑津美小姐的家人吗？」",
voice: Some("li/4syuji_009"),
),
),
(
cmd: label,
args: (
name: "block_00017",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，是的……」",
voice: Some("li/momnp_068"),
),
),
(
cmd: label,
args: (
name: "block_00018",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "回头一看，是一个年长的男性。并不是什么眼熟的人。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00019",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……到底，有什么事呢？",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00020",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "首先，已经几乎没有人来问那孩子的事了况且过了这么长时间了，心里也很难有头绪。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00021",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「不好意思……我姓莳绘……」",
voice: Some("li/4syuji_010"),
),
),
(
cmd: label,
args: (
name: "block_00022",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……莳绘先生？」",
voice: Some("li/momnp_069"),
),
),
(
cmd: label,
args: (
name: "block_00023",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，担任医院的医疗部长」",
voice: Some("li/4syuji_011"),
),
),
(
cmd: label,
args: (
name: "block_00024",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "听到这里，就和之前的事联系上了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00025",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "因为莳绘这个独特的姓氏，只能联想到她。她的父亲，听说也是那个医院的工作人员。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00026",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……大概这个人，是她的父亲，是为了她女儿来的吧。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00027",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "从那之后她几乎每天都来家里，如果是这个年纪的女儿的父亲，会担心也不难理解。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00028",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "正那么想着……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00029",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "非常意外地，这个人说的话却有点出乎意料。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00030",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「实际上，我和您家的女儿有过约定……」",
voice: Some("li/4syuji_012"),
),
),
(
cmd: label,
args: (
name: "block_00031",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……女儿……是说我们家那孩子，濑津美吗？」",
voice: Some("li/momnp_070"),
),
),
(
cmd: label,
args: (
name: "block_00032",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，稍微打扰一下可以吗？」",
voice: Some("li/4syuji_013"),
),
),
(
cmd: label,
args: (
name: "block_00033",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……和我们家那孩子的约定？",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00034",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "听说莳绘小姐自己，和濑津美应该是没有直接交流的……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00035",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "濑津美和这个做父亲的人，到底有着怎样的联系呢？",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00036",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "说起来，医疗部长在医院应该也是很重要的职位吧。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00037",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "虽然不太明白，我还是请他到那个孩子的房间里。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00038",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_18",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "女儿的房间。自从那孩子去世，转眼已过去一年了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00039",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「这里一定还是女儿去世时候的样子吧」",
voice: Some("li/4syuji_014"),
),
),
(
cmd: label,
args: (
name: "block_00040",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……是的。总觉得去收拾的话会很凄凉」",
voice: Some("li/momnp_071"),
),
),
(
cmd: label,
args: (
name: "block_00041",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，我明白您的心情」",
voice: Some("li/4syuji_015"),
),
),
(
cmd: label,
args: (
name: "block_00042",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "然后，他指着书架上的几本书说……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00043",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「那么……请把这些交给我保管」",
voice: Some("li/4syuji_016"),
),
),
(
cmd: label,
args: (
name: "block_00044",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "说着，把地图和图鉴装进包里。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00045",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「诶、等等……请不要随意拿走这些」",
voice: Some("li/momnp_072"),
),
),
(
cmd: label,
args: (
name: "block_00046",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「不，这就是我们的约定」",
voice: Some("li/4syuji_017"),
),
),
(
cmd: label,
args: (
name: "block_00047",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……约定？\u{3000}就是这个吗？」",
voice: Some("li/momnp_073"),
),
),
(
cmd: label,
args: (
name: "block_00048",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「是的，我们约定了总有一天我会来取」",
voice: Some("li/4syuji_018"),
),
),
(
cmd: label,
args: (
name: "block_00049",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……对于我，不知道发生了什么。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00050",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "这个人和女儿之间的事、他们谈了什么……也不知道两个人最初的交集。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00051",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "当然，和那孩子约定了什么的话，其中一定有某种意义……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00052",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "但是，尽管如此，突然要把那孩子一直很珍惜的东西拿走，还是难以接受。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00053",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "因为那对现在的我来说，是和女儿的存在联系在一起的重要的物品……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00054",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_18",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「……莳绘先生，可以问您一个问题吗？」",
voice: Some("li/momnp_074"),
),
),
(
cmd: label,
args: (
name: "block_00055",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「好，请问？」",
voice: Some("li/4syuji_078"),
),
),
(
cmd: label,
args: (
name: "block_00056",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「这些书和花盆，是那孩子很珍惜的东西……这你知道吗？」",
voice: Some("li/momnp_075"),
),
),
(
cmd: label,
args: (
name: "block_00057",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「嗯，当然很清楚」",
voice: Some("li/4syuji_019"),
),
),
(
cmd: label,
args: (
name: "block_00058",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "简短却又坚定的语气。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00059",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "不知道为什么要做这种事，也不知道把它们拿走之后要干什么。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00060",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "虽然不知道……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00061",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "但如果是那孩子的约定，同意了的话……我也没什么可以说了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00062",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "b",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "接着，莳绘先生把那孩子的书本和花盆全都装进了包里。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00063",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "开门出去，离别之际他又回过头来……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00064",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "「佐仓女士……能够记在心里，就已经很好了」",
voice: Some("li/4syuji_020"),
),
),
(
cmd: label,
args: (
name: "block_00065",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "说完这句话，就离去了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00066",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "sora02",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "抬头望向天空，春天的气息。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00067",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "已不再是冬日白色的淡淡的天空，开始逐渐染上春天的色彩。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00068",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "那孩子已经去世一年了。而那个孩子，到现在也几乎每天都会过来。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00069",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "……说不定，也差不多是时候了。",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00070",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "面对突然的来访者，以及目睹着女儿空荡荡的房间……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00071",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: dialogue,
args: (
speaker: None,
text: "忽然，我这么觉得……",
voice: None,
),
),
(
cmd: label,
args: (
name: "block_00072",
),
),
(
cmd: wait,
args: (
time_ms: 400,
),
),
(
cmd: set_bg,
args: (
image: "ato_19",
transition: Some(fade(
duration: 0.8,
)),
),
),
(
cmd: wait,
args: (
time_ms: 500,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: custom,
args: (
tag: "msgoff",
data: {},
),
),
(
cmd: wait,
args: (
time_ms: 1000,
),
),
(
cmd: stop_se,
args: (
channel: Some(1),
),
),
(
cmd: stop_se,
args: (
channel: Some(2),
),
),
(
cmd: stop_se,
args: (
channel: Some(3),
),
),
(
cmd: stop_se,
args: (
channel: Some(4),
),
),
(
cmd: stop_bgm,
args: (
fade_ms: Some(1000),
),
),
(
cmd: return,
),
],
)
