(
version: V1,
meta: (
name: Some("chap06"),
next_script: None,
),
instructions: [
(
cmd: label,
args: (
name: "block_00000",
),
),
(
cmd: label,
args: (
name: "top",
),
),
(
cmd: custom,
args: (
tag: "msg",
data: {
"no": "99",
"mode": "novel",
},
),
),
(
cmd: call_script,
args: (
script: "game-logic",
label: Some("story06"),
),
),
(
cmd: halt,
),
],
)
