(
    version: V1,
    meta: (
        name: Some("narsumi00"),
        next_script: None,
    ),
    instructions: [
        (
            cmd: label,
            args: (
                name: "block_00000",
            ),
        ),
        (
            cmd: label,
            args: (
                name: "top",
            ),
        ),
        (
            cmd: label,
            args: (
                name: "z00",
            ),
        ),
        (
            cmd: label,
            args: (
                name: "z01",
            ),
        ),
        (
            cmd: save_point,
            args: (
                id: "水仙 菫的故事-说明",
            ),
        ),
        (
            cmd: save_point,
            args: (
                id: "autosave",
            ),
        ),
        (
            cmd: set_flag,
            args: (
                key: "chap01",
                value: 1,
            ),
        ),
        (
            cmd: custom,
            args: (
                tag: "msg",
                data: {
                    "no": "99",
                    "mode": "novel",
                },
            ),
        ),
        (
            cmd: hide_cg,
            args: (
                transition: None,
            ),
        ),
        (
            cmd: hide_fg,
            args: (
                char_id: "all",
                transition: None,
            ),
        ),
        (
            cmd: set_bg,
            args: (
                image: "black",
                transition: Some(fade(
                    duration: 1.5,
                )),
            ),
        ),
        (
            cmd: wait,
            args: (
                time_ms: 1500,
            ),
        ),
        (
            cmd: set_bg,
            args: (
                image: "b",
                transition: Some(fade(
                    duration: 0.8,
                )),
            ),
        ),
        (
            cmd: wait,
            args: (
                time_ms: 500,
            ),
        ),
        (
            cmd: set_bg,
            args: (
                image: "ns_37",
                transition: Some(fade(
                    duration: 0.8,
                )),
            ),
        ),
        (
            cmd: wait,
            args: (
                time_ms: 500,
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(1),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(2),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(3),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(4),
            ),
        ),
        (
            cmd: play_bgm,
            args: (
                id: "120",
                volume: Some(0.78431374),
                fade_ms: Some(500),
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "首先进行简单的说明",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00001",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "水仙\u{3000}菫",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00002",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "nekoneko soft的『菫』的女主角菫、将作为重要主角登场的故事。",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00003",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "因此，为了观众能够理解，而加入了一定明的角色设定与背景的部分。",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00004",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "本身是一种叙事诡计的构成，所以我想会很难理解吧",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00005",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "所以如果你能想到【原来是这种设定的角色吗】\n大家只要这样模糊地感受到，我也会非常感谢的",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00006",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "总之。我强行把它放进了水仙的故事里、请忽略立绘变得奇怪的事实＞＜",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00007",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "另外，这作的时间点是水仙2之后4-5年、水仙1的1-2年前。",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00008",
            ),
        ),
        (
            cmd: dialogue,
            args: (
                speaker: None,
                text: "那么 好久不见 感谢您的游玩＞＜",
                voice: None,
            ),
        ),
        (
            cmd: label,
            args: (
                name: "block_00009",
            ),
        ),
        (
            cmd: custom,
            args: (
                tag: "msgoff",
                data: {},
            ),
        ),
        (
            cmd: wait,
            args: (
                time_ms: 1000,
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(1),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(2),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(3),
            ),
        ),
        (
            cmd: stop_se,
            args: (
                channel: Some(4),
            ),
        ),
        (
            cmd: stop_bgm,
            args: (
                fade_ms: Some(1000),
            ),
        ),
        (
            cmd: return,
        ),
    ],
)